streamlit
langchain
langchain-community
langchain-text-splitters
langchain-groq
langchain-classic
faiss-cpu
sentence-transformers
transformers
torch
pypdf
python-dotenv
docx2txt
langchain-huggingface
torchvision
